$blue: hsl(209, 96%, 36%);
$white: hsl(0, 0%, 100%);

/*
|--------------------------------------------------------------------------
| Aliases
|--------------------------------------------------------------------------
*/
$primary: $blue;
$bg-color: rgba($white, .9);